.search-area {
  align-items: space-around;
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.search-bar-input {
  background-color: hsl(0, 0%, 90%);
  border-color: #7a328000;
  border-width: 0 0 0.2rem;
  font-family: -apple-system , Roboto , sans-serif;
  outline: none;
  padding: 0.5rem 2rem;
  transition: ease 0.5s;
  width: 90%;
}

.search-bar-input:focus {
  background-color: hsl(0, 0%, 80%);
  border-color: #7a3280;
}

.search-bar-btn {
  background-color: #793280;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: -apple-system , Roboto , sans-serif;
  padding: 0.9rem 1.5rem;
}

.search-bar-btn:hover {
  color: #ccc;
  cursor: pointer;
}

.home-content {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.category-aside {
  display: flex;
  flex-flow: column;
  width: 20%;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
